@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/************header************/
.header {
  width: 100%;
  height: 45px;
  background-color: black;
  position: relative;
}

.header h2 {
  text-align: center;
  color: white;
  line-height: 45px;
}

.header .gnb_btn {
  position: absolute;
  left: 20px;
  top: 8px;
  font-size: 20px;
  color: white;
}

.header a {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  right: 15px;
  top: 10px;
  color: white;
  text-align: center;
}

.header a i {
  width: 100%;
  font-size: 20px;
}

.gnb {
  position: absolute;
  left: 0;
  top: 45px;
  width: 0;
  height: 100%;
  transition: all 0.3s;
  overflow: hidden;
  background-color: black;
}

.gnb li a {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border-bottom: 2px solid white;
  opacity: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: all 0.3s;
}

#gnb_chk {
  display: none;
}

#gnb_chk:checked~.gnb {
  width: 60%;
  z-index: 1;
}

#gnb_chk:checked~.gnb li a {
  opacity: 1;
}

#gnb_chk:checked~.main {
  opacity: 0.5;
}


@media (min-width:321px) and (orientation:landscape) {
  .header {
    border-bottom: 1px solid #ccc;
  }

  .gnb_btn {
    display: none;
  }

  .gnb {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    transition: none;
  }

  .gnb li {
    float: left;
    width: 25%;
  }

  .gnb li a {
    opacity: 1;
    height: 40px;
    line-height: 40px;
    border-bottom: none;
    border-right: 1px solid #ccc;
    transition: none;
  }

  .gnb li:last-child a {
    border-right: none;
  }
}

/*************award/work************/
.padding {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.main {
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
}

.profile {
  width: 100%;
  height: 290px;
  margin: 20px 0;
}

.profile img {
  width: 80%;
  height: 250px;
  margin: 0 auto;
}

.profile .movie1 {
  float: left;
  width: 50%;
}

.profile .movie1 p {
  text-align: center;
}

.profile .movie2 {
  float: left;
  width: 50%;
}

.profile .movie2 p {
  text-align: center;
}

.content h2 {
  height: 35px;
  padding: 0;
  padding-left: 25px;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
}

.content h2 i {
  float: right;
  padding-right: 10px;
  padding-top: 5px;
}

.awards_list {
  margin-left: 10px;
  margin-top: 5px;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.awards_list span {
  font-weight: bold;
  font-size: 16px;
}

.awards_list p {
  padding-bottom: 5px;
}

.awards_list p:nth-child(1) {
  border-bottom: 1px solid black;
}

.awards_list p:nth-child(2) {
  padding-top: 5px;
}

#awards_chk {
  display: none;
}

#awards_chk:checked~.awards_list {
  height: 60px;
  opacity: 1;
}


.drama_list {
  margin-left: 10px;
  margin-top: 5px;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.drama_list span {
  font-weight: bold;
  font-size: 16px;
}

.drama_list p {
  padding-top: 5px;
}

.drama_list ul {
  padding-left: 59px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

#dra_chk {
  display: none;
}

#dra_chk:checked~.drama_list {
  height: 320px;
  opacity: 1;
}

.movie_list {
  margin-left: 10px;
  margin-top: 5px;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.movie_list span {
  font-weight: bold;
  font-size: 16px;
}

.movie_list p {
  padding-bottom: 5px;
}

.movie_list p:nth-child(1) {
  border-bottom: 1px solid black;
}

.movie_list p:nth-child(2) {
  padding-top: 5px;
}

.movie_list p:last-child {
  padding-top: 5px;
}

.movie_list ul {
  padding-left: 59px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

#movie_chk {
  display: none;
}

#movie_chk:checked~.movie_list {
  height: 120px;
  opacity: 1;
}

.joke_list {
  margin-left: 10px;
  margin-top: 5px;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.joke_list p {
  padding-bottom: 5px;
}

.joke_list p:last-child {
  padding-top: 5px;
}

#joke_chk {
  display: none;
}

#joke_chk:checked~.joke_list {
  height: auto;
  opacity: 1;
}