* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

$color:#8869ed;

.container_01 {
  width: 500px;
  height: 300px;
  background-color: #ccc;
  margin: 0 auto;

  >h1 {
    color: blue;
  }

  ul {
    h1 {
      font-size: 20px;
    }

    li {
      width: 100px;
      height: 50px;
      line-height: 50px;
      border: 1px solid black;
      text-align: center;

      &:nth-child(3) {
        margin: 5px 0;
      }

      &.first {
        color: $color;
      }

      font: {
        size: 16px;
        weight: bold;
      }
    }
  }
}

//.container_01
@mixin box_style {
  border: 1px solid black;
  background-color: #eee;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@function center($width) {
  @return calc($width/2*-1);
}

@mixin line($height) {
  text-align: center;
  line-height: $height;
}

.container_02 {
  @include size(500px, 300px);
  @include box_style();
  position: fixed;
  top: 400px;
  left: 50%;
  margin-left: center(500px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  >div {
    @include size(150px, 100px);
    @include box_style();
    @include line(100px);

    &:nth-child(2) {
      @include size(100px, 150px);
      @include line(150px);
    }
  }
}