@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 10000px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.green {
  color: forestgreen;
}

.blue {
  color: cadetblue;
  font-weight: bold;
  font-size: 17px;
}

/*********************gnb********************/
.header_outer {
  width: 100%;
}

.gnb {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}

.gnb ul {
  float: right;
  font-size: 0;
  padding: 5px 0;
}

.gnb ul li {
  float: left;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.gnb ul li span {
  color: white;
  background-color: darkturquoise;
  padding: 0 5px;
  border-radius: 3px;
  line-height: 30px;
}

/****************logo_section********************/
.logo_section {
  width: 100%;
}

.logo_section .logo_inner {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}

.logo_inner .left_side {
  position: relative;
  float: left;
  width: 350px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}

.logo_inner .left_side img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  animation: carani 3s infinite;
}

@keyframes carani {
  0% {
    top: 0;
    left: 0;
  }

  5% {
    top: 3px;
    left: 0;
  }

  10% {
    top: 0;
    left: 0;
  }

  15% {
    top: 3px;
    left: 0;
  }

  20% {
    top: 0;
    left: 0;
  }

  25% {
    top: 3px;
    left: 0;
  }

  30% {
    top: 0;
    left: 0;
  }

  35% {
    top: 3px;
    left: 0;
  }

  40% {
    top: 0;
    left: 0;
  }

  45% {
    top: 3px;
    left: 0;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 0;
    left: 390px;
  }
}

.logo_inner .left_side .letter p {
  position: absolute;
  top: 16px;
  left: 80px;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  opacity: 1;
  animation: letterani 3s infinite;
}

@keyframes letterani {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.logo_inner .logo {
  float: left;
  text-align: center;
  width: 350px;
  height: 60px;
}

.logo_inner .right_side {
  float: right;
  width: 350px;
  height: 60px;
  line-height: 60px;
}

.right_side .search_box {
  float: right;
  position: relative;
}

.search_box input {
  padding-left: 10px;
  width: 250px;
  padding: 3px 0;
  padding-left: 10px;
  outline: none;
}

.search_box i {
  position: absolute;
  top: 24px;
  right: 15px;
  color: gray;
}

/*********************header****************/
.header {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
}

.header_inner {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}

.lnb {
  width: 100%;
  overflow: hidden;
}

.lnb .category_box {
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: rgba(97, 143, 176, 1);
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
  float: left;
  cursor: pointer;
}

.lnb .category label {
  display: block;
  cursor: pointer;
}

.category i {
  padding-right: 10px;
  color: rgba(62, 141, 148, 1);
}

.lnb .lnb_left {
  width: 630px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: right;
}

.lnb .lnb_left li {
  display: inline-block;

}

.lnb .lnb_left li a {
  display: block;
  color: black;
  font-weight: bold;
  padding: 0 15px;
  transition: 0.3s
}

.lnb .lnb_left li a:hover {
  background-color: black;
  color: #fff;
}

.lnb .lnb_right {
  float: right;
  width: 260px;
  height: 40px;
  padding: 15px 0;
  font-size: 0;
  text-align: right;
}

.lnb .lnb_right li {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: gray;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  font-weight: bold;
  line-height: 12px;
}

.lnb .lnb_right li:first-child {
  border: none;
}

.lnb .lnb_right li:last-child {
  padding-right: 0;
}

/***************category_drop***************/
#category_drop {
  display: none;
}

#category_drop:checked~.header .lnb .category_box .category_list {
  display: block;
  height: 200px;
}

.category_box .category_list {
  position: absolute;
  width: 1070px;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: all 0.3s;
}

.category_box .category_list a {
  color: #fff;
}

/*******************visual_banner*******************/
.main_banner {
  width: 100%;
}

.visual_banner {
  width: 100%;
}

.visual_banner .your-class img {
  width: 100%;
  height: 370px;
}

.visual_banner .your-class .slick-arrow {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  position: absolute;
  visibility: hidden;
}


/****************content*******************/
.content {
  width: 1070px;
  margin: 0 auto;
}

.cuchon {
  margin-top: 30px;
  text-align: center;
}

.content_box {
  margin-top: 10px;
}

.content_box img {
  display: block;
  width: 100%;
  height: auto;
}

.content_box .top_box {
  margin-bottom: 10px;
  height: 350px;
}

.content_box .top_box div {
  float: left;
  width: 260px;
  height: 350px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.content_box p,
.content_box h4 {
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content_box .top_box div:last-child {
  margin-right: 0;
}

.p1 {
  padding-top: 15px;
  font-size: 13px;
  padding-left: 5px;
  color: black;
  font-weight: bold;
}

.h4 {
  padding-left: 5px;
  color: black;
}

.p2 {
  padding-left: 5px;
  font-size: 11px;
  color: gray;
}

.gray {
  text-decoration: line-through;
}

.won {
  padding-left: 5px;
}

.top {
  padding-top: 15px;
}

.content_box .bottom_box {
  height: 350px;
  margin-bottom: 50px;
}

.content_box .bottom_box div {
  float: left;
  width: 260px;
  height: 350px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.content_box .bottom_box div:last-child {
  margin-right: 0;
}


/*****************photo_banner**************/
.photo_img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.photo_img img {
  display: block;
  width: 100%;
  height: 200px;
}

.photo_img .img1 {
  position: absolute;
  animation: fadeOut 5s infinite both;
  transition: 1s;
}

.photo_img .img2 {
  position: absolute;
  animation: fadeIn 5s infinite both;
  transition: 1s;
}

@keyframes fadeIn {
  0% {
    position: absolute;
  }

  50% {
    position: absolute;
  }

  75% {
    position: relative
  }

  100% {
    position: relative;
  }
}

@keyframes fadeOut {
  0% {
    position: relative;
  }

  50% {
    position: relative;
  }

  75% {
    position: absolute;
  }

  100% {
    position: absolute;
  }
}

/*******************new******************/
.new {
  margin-top: 40px;
  text-align: center;
}

.content_new_box {
  margin-top: 20px;
  height: 400px;
}

.content .content_new_box div {
  float: left;
  width: 350px;
  height: 350px;
  margin-right: 10px;
}

.content .content_new_box div:last-child {
  margin-right: 0;
}

.content .content_new_box img {
  float: left;
  display: block;
  width: 100%;
  height: 350px;
}