@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/***************header****************/
.header {
  position: relative;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.header label {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 5px;
}

.tit {
  padding-left: 10px;
  box-sizing: border-box;
}

.tit h2 {
  color: rgba(131, 164, 168, 1);
}

.lnb {
  float: right;
  width: 120px;
}

.lnb ul {
  background-color: rgba(124, 186, 193, 1);
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.lnb ul li {
  opacity: 0;
  height: 0;
  line-height: 35px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.lnb ul li a {
  display: none;
  text-align: center;
  color: white;
  font-size: 14px;
  border-bottom: 1px solid white;
}

#ham_chk {
  display: none;
}

#ham_chk:checked~.lnb {
  opacity: 1;
}

#ham_chk:checked~.lnb ul {
  height: 210px;
  opacity: 1;
}

#ham_chk:checked~.lnb ul li {
  height: 35px;
  opacity: 1;
}

#ham_chk:checked~.lnb ul li a {
  display: block;
}

/****************tag_btn****************/
.tag_btn {
  height: 80px;
  line-height: 80px;
  padding-left: 10px;
  overflow: hidden;
}

.tag_btn>div {
  float: left;
}

.tag_btn>div p {
  height: 80px;
  line-height: 80px;
}

.tag_btn>div a {
  display: block;
  background-color: rgba(117, 219, 231, 1);
  color: white;
}