@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

/************header************/
.header {
  position: relative;
  background-color: green;
  color: white;
  height: 40px;
  line-height: 40px;
}

.header .back {
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 20px;
}

.header h3 {
  text-align: center;
}

/**************search********************/
.search_box {
  background-color: gray;
  padding: 10px;
}

.search_input {
  position: relative;
}

.search_input i {
  position: absolute;
  color: gray;
}

.search_input .fa-search {
  left: 5px;
  top: 8px;
  font-size: 15px;
}

.search_input .micro {
  right: 5px;
  top: 8px;
  color: gray;
}

.search_input input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  border: none;
  padding-left: 25px;
  color: gray;
  font-size: 15px;
}

/*************bottom*******************/
.bottom {
  position: fixed;
  width: 100%;
  height: 60px;

  bottom: 0;
  background-color: aquamarine;
}

.bottom ul {
  overflow: hidden;

}

.bottom ul li {
  margin-top: 15px;
  float: left;
  width: 25%;
  text-align: center;
}

.bottom ul li i {
  font-size: 20px;
  color: #777;
}

.bottom ul li p {
  color: #777;
  font-size: 14px;
}