@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 1000px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}


/*********************lnb_01***********************/
.lnb_01,
.lnb_02,
.lnb_03,
.lnb_04,
.lnb_05 {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}

.lnb_01 li {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  float: left;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.lnb_01 li:hover {
  background-color: #ccc;
  color: black;
}


/*********************lnb_02***********************/
.lnb_02 li {
  width: 200px;
  height: 50px;
  float: left;
}

.lnb_02 li a {
  display: block;
  text-align: center;
  line-height: 50px;
  background-color: blue;
  color: white;
  transition: all 0.3s;
}

.lnb_02 li a:hover {
  background-color: black;
}


/*********************lnb_03 각 각 드롭다운***********************/
.lnb_03 {
  position: relative;
  z-index: 0;
}

.lnb_03 li {
  width: 200px;
  height: 50px;
  float: left;
  transition: all 0.3s;
}

.lnb_03 li a {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px;
  transition: all 0.3s;
}

.lnb_03 li a:hover {
  background-color: aqua;
  color: black;
}

.lnb_03 ul {
  height: 0;
  overflow: hidden;
  transition: height 0.2s 0.3s;
}

.lnb_03:hover li ul {
  height: 250px;
}

.lnb_03 li li a:hover {
  background-color: yellow;
  color: black;
}


/* .lnb_03:hover li li {
  opacity: 1;
} */

/* display에는 transition을 걸수 없다 그래서 opacity씀 */


/*********************lnb_04 풀다운메뉴***********************/
.lnb_04 {
  z-index: 1;
}

.lnb_04 li {
  width: 200px;
  height: 50px;
  float: left;
  transition: all 0.3s;
}

.lnb_04 li a {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px;
  transition: all 0.3s;
}

.lnb_04 li a:hover {
  background-color: aqua;
  color: black;
}



.lnb_04 li li a:hover {
  background-color: yellow;
  color: black;
}

/* 아래 코드는 천천히 높이 늘려가면서 나오게하는것 */
.lnb_04 li ul {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

.lnb_04 li:hover ul {
  height: 250px;
}

/*********************lnb_05 li들 가로로나오게***********************/
.lnb_05 {
  margin-top: 250px;
}

.lnb_05 li {
  width: 200px;
  height: 50px;
  float: left;
}


.lnb_05 li a:hover {
  background-color: blue;
}

.lnb_05 li li a:hover {
  background-color: aqua;
}

.lnb_05 li a {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: violet;
  color: white;
}

.lnb_05 li ul {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 0;
}

.lnb_05 li:hover ul {
  height: 50px;
}

.lnb_05 li li a {
  width: 150px;
}

.lnb_05 li:hover li {
  display: block;

  width: 150px;
}

.lnb_05 li:hover .sub3 {
  position: absolute;
  left: 30%;
}

.lnb_05 li:hover .sub4 {
  position: absolute;
  left: 35%;
}

.lnb_05 li:hover .sub5 {
  position: absolute;
  left: 35%;
}

/***************** popup *****************/
/* ~ : 아이디를 해당하는 태그의 형제(같은레벨)들 중에 아래에 있는(동생) 태그 */
#popup_chk {
  display: none;
}

#popup_chk:checked~.popup {
  display: block;
}

#popup_chk~.popup {
  display: none;
}

.popup {
  z-index: 9999;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: yellow;
  padding: 10px;
  top: 50px;
  left: 100px;
}

.popup p img {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  box-sizing: border-box;
}

.popup .popup_close {
  display: block;
  margin-left: 280px;
  margin-top: 10px;
}

.popup .popup_close .close {
  background: rgba(0, 0, 0, 0.5);
}

/***************** popup_icon *****************/
#icon_chk {
  display: none;
}

#icon_chk:checked~.icon {
  display: block;
}

#icon_chk~.icon {
  display: none;
}

.icon{
  position: absolute;
  top: 450px;
  height: 100px;
}